
.menu_dropdown {
  position: relative;
}

.menu_dropdown_selected {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0, 20px, 0, 10px;
  font-size: 14px;
  border: 1px solid #eee;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.menu_dropdown_menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #eee;
    border-top: 0;
    background-color: #fff;
    z-index: 5;
}

.menu_dropdown_items {
  max-height: 210px;
  overflow-y: auto;
}

.menu_dropdown_search {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #eee;
  padding: 12px;
  outline: 0;
  background-color: #f9f9f9;
}

.menu_dropdown_item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  cursor: pointer;
}



.menu_dropdown:last-child {
  margin-bottom: 0;
}

.menu_dropdown:hover {
  background-color: #eee;
}


.menu_dropdown_item:hover {
  background-color: #009e6c;
  color: #fff;
}






